#tabela{ 
   margin-left: 35%; 
   margin-right: 35%;
}
body{
    font-family: century gothic;
	font-size: 18px;    
	background-color: #fff; 
	text-align: center;
    margin-left:10%;
	margin-right:10%;
}
h1{
	color: red;
    text-align: center;
}
input{
	margin: 5px;	
}
#container{
    width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 5%;
}
.instrucao{
    text-align: left;
    float: left;
    width: 40%;
    margin-right: 10%;
    margin-top: 5%;
}

footer{
    clear: both;
    margin-top: 43%;
}
.btn{
	color: #994029;
	font-size: 25px; 
    background-color: #fff;
    border-color: #FF6868;
    border-radius: 4px;
    border: 1px solid transparent;
    margin: 30px;
    padding: 12px;
    font-family: century gothic;
}
.botao{
	color: #fff;
	font-size: 30px; 
    background-color: rgba(255, 0, 0, 0.6);
    border-color: #FF6868;
    border: 1px solid transparent;
    margin: 15px;
    padding: 12px;
    font-family: century gothic;

}

.confirma{
    border-color:#FF6868;
    background-color: #fff;
    font-family: century gothic;
    padding: 5px;
}
#botaook{
	color: #fff;
	font-size: 20px; 
    background-color: rgba(255, 0, 0, 0.6);
    border-color: #FF6868;
    border: 1px solid transparent;
    margin: 15px;
    padding: 12px;
    font-family: century gothic;
}

.texto{
	text-align: justify;
	margin-left:15%;
	margin-right:15%;
	
}


.centro{
    text-align:center;
}

#conteudo1, #conteudo2{
    
    display: none;
}